In [88]:
import pandas as pd

In [89]:
import json

In [90]:
from datetime import datetime

In [91]:
import requests

In [92]:
from dateutil.parser import parse as date_parse

In [93]:
# GitHub raw content link to the JSON file
url = 'https://github.com/Vishal02082002/Conversions-to-PD-DF-Table-/blob/main/Sample_data.json'

In [94]:
response = requests.get(url)
if response.status_code == 200:
    print("The JSON file is successfully loaded.")
    content = response.content.decode('utf-8')
else:
    print(f"Failed to load JSON file. Status code: {response.status_code}")
    exit(1)

The JSON file is successfully loaded.

In [95]:
# Convert JSON data to a list of dictionaries if it's not already
if isinstance(data, dict):
    data = [data]

In [96]:
# Filter the data based on the conditions
'''filtered_data = []
for item in data:
    if 'modified_date' in item and 'in_compliance' in item and 'machine_sold_status' in item:
        try:
            modified_date = datetime.strptime(item['modified_date'], '%d-%m-%Y')
            in_compliance = str(item['in_compliance']).strip().lower() == 'true'
            machine_sold_status = str(item['machine_sold_status']).strip().lower() == 'sold'
            if modified_date > datetime.strptime('12-05-2024', '%d-%m-%Y') and in_compliance and machine_sold_status:
                filtered_data.append(item)
        except ValueError:
            # Handle the case where the date format is incorrect
            pass'''

"filtered_data = []\nfor item in data:\n    if 'modified_date' in item and 'in_compliance' in item and 'machine_sold_status' in item:\n        try:\n            modified_date = datetime.strptime(item['modified_date'], '%d-%m-%Y')\n            in_compliance = str(item['in_compliance']).strip().lower() == 'true'\n            machine_sold_status = str(item['machine_sold_status']).strip().lower() == 'sold'\n            if modified_date > datetime.strptime('12-05-2024', '%d-%m-%Y') and in_compliance and machine_sold_status:\n                filtered_data.append(item)\n        except ValueError:\n            # Handle the case where the date format is incorrect\n            pass"

In [97]:
df = pd.DataFrame(data)

In [98]:
df

,Dealers_lot,dealer_id,in_compliance,machine_id,machine_sold_status,machine_status,model_no,modified_date
0,True,1,False,11,Sold,Dealer Rental Fleet,644P,03-05-2024
1,True,2,True,13,Unsold,Dealer Presold,1775NT,04-05-2024
2,False,3,True,15,Sold,Stock,54H,05-05-2024
3,True,4,False,17,Unsold,Dealer Rental Fleet,5435T,06-05-2024
4,False,5,True,19,Sold,Dealer Presold,5434Y,07-05-2024
5,True,6,False,21,Sold,Dealer Rental Fleet,868J,08-05-2024
6,False,7,True,23,Unsold,Dealer Rental Fleet,234H,09-05-2024
7,True,8,True,25,Sold,Stock,85G,10-05-2024
8,True,9,False,27,Sold,Dealer Presold,334G,11-05-2024
9,True,10,False,29,Unsold,Dealer Presold,785VH,12-05-2024
10,False,11,True,31,Unsold,Dealer Rental Fleet,652HF,13-05-2024
11,True,12,False,33,Sold,Stock,2213GB,14-05-2024
12,True,13,True,35,Unsold,Dealer Rental Fleet,212C,15-05-2024
13,True,14,True,37,Unsold,Stock,87BJ,16-05-2024
14,False,15,True,39,Unsold,Dealer Presold,864BS,17-05-2024
15,True,16,False,41,Sold,Stock,256CF,18-05-2024
16,True,17,True,43,Sold,Dealer Rental Fleet,25V,19-05-2024
17,False,18,True,45,Unsold,Dealer Presold,97HH,20-05-2024
18,False,19,True,47,Sold,Dealer Presold,797JJ,21-05-2024
19,True,20,False,49,Unsold,Stock,64CX,22-05-2024

In [99]:
# Get a list of attributes
attributes = df.columns.tolist()
print("\nList of attributes:")
print(attributes)

List of attributes:
['Dealers_lot', 'dealer_id', 'in_compliance', 'machine_id', 'machine_sold_status', 'machine_status', 'model_no', 'modified_date']

In [100]:
# Get the count of the number of rows and columns
num_rows, num_columns = df.shape
print(f"\nNumber of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 20
Number of columns: 8

In [101]:
# Get the volume of data
data_volume = df.size
print(f"\nVolume of data (total elements): {data_volume}")

Volume of data (total elements): 160

In [102]:
# Function to classify data types
def classify_data_type(series):
    try:
        pd.to_numeric(series.dropna())
        return 'Number'
    except ValueError:
        pass

    try:
        series.dropna().apply(date_parse)
        return 'Date'
    except (ValueError, TypeError):
        pass

    if series.dropna().str.contains('[^a-zA-Z0-9]').any():
        return 'Alphanumeric'

    return 'String'

# Get the types of data for all the attributes
data_type_classification = {col: classify_data_type(df[col]) for col in df.columns}
print("\nData types for all attributes:")
print(data_type_classification)

Data types for all attributes:
{'Dealers_lot': 'Number', 'dealer_id': 'Number', 'in_compliance': 'Number', 'machine_id': 'Number', 'machine_sold_status': 'Alphanumeric', 'machine_status': 'Alphanumeric', 'model_no': 'String', 'modified_date': 'Date'}